<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeStopper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TimeStopper.Properties.Settings>
            <setting name="DefaultRecordsFileName" serializeAs="String">
                <value>records.xml</value>
            </setting>
            <setting name="DefaultRunningColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DefaultStoppingColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="DefaultHourlyWage" serializeAs="String">
                <value>9.5</value>
            </setting>
            <setting name="SettingsFileName" serializeAs="String">
                <value>settings.xml</value>
            </setting>
        </TimeStopper.Properties.Settings>
    </userSettings>
</configuration>