*.exe
/src/TimeStopper/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/src/TimeStopper/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/TimeStopper/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/src/TimeStopper/obj/x86/Debug/TimeStopper.Properties.Resources.resources
/src/TimeStopper/obj/x86/Debug/TimeStopper.Setup.resources
/src/TimeStopper/obj/x86/Debug/TimeStopper.Summary.resources
/src/TimeStopper/obj/x86/Debug/TimeStopper.csproj.FileListAbsolute.txt
/src/TimeStopper/obj/x86/Debug/TimeStopper.csproj.GenerateResource.Cache
/src/TimeStopper/obj/x86/Debug/TimeStopper.csprojResolveAssemblyReference.cache
/src/TimeStopper/obj/x86/Debug/TimeStopper.pdb
/src/TimeStopper/bin/Debug/TimeStopper.exe.config
/src/TimeStopper/bin/Debug/TimeStopper.pdb
/src/TimeStopper/bin/Debug/TimeStopper.vshost.exe.config
/src/TimeStopper/bin/Debug/TimeStopper.vshost.exe.manifest
/src/TimeStopper/bin/Debug/export.txt
/src/TimeStopper/bin/Debug/records.xml
/src/TimeStopper/bin/Debug/records2.xml
/src/TimeStopper/bin/Debug/records3.xml
/src/TimeStopper/bin/Debug/settings.xml
